{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    ["dynamic-import-node"],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
